<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>EBNF</string>
	<key>uuid</key>
	<string>80532769-DEAA-473C-8655-5A2A7332D167</string>
</dict>
</plist>
